<%- include('../Partials/Adminheader.ejs') %>
<style>
  body{
    background: url(/app_pics/bg/header.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
</style>
<link rel="stylesheet" href="/stylesheets/news-style.css">

<div class="container side-nav-exist" style="padding:40px">

  <div class="right-nav-util-main-div col-sm-6 col-md-6 unselectable">
    <div class="col-sm-12 allSidesSoft wether-news" style="background:#fff">
      <div class="row">
        <div class="col-sm-12">
          <h4 class="weather-location">Loading...</h4>
          <hr style="margin:0"/>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-xs-6" style="padding-top:20px">
          <p class="wether-outside">Loading...</p>
          <p class="temprature-info"></p>
        </div>

        <div class="col-sm-6 col-xs-6" style="padding-top:20px">
          <img src="" class="current-weather-icon" />
        </div>
        &nbsp;
      </div>
      <div class="col-sm-12" style="padding:0;margin:0;overflow:scroll" id="weather-forecast-div">
        <!--forecast here-->
      </div>
    </div>
  </div>

</div>

<script src="/Plugins/js/waitme.js"></script>
<script src="/javascripts/news-Controller.js"></script>
<script>
  initweatherInfo();
</script>

</body>
</html>
