<!DOCTYPE html>
<html>
  <!DOCTYPE html>
  <head>
    <title>Error</title>
    <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel='stylesheet' href='stylesheets/style.css' />
    	<link rel='stylesheet' href='stylesheets/sidenav.css' />
<body>

<nav class="navbar navbar-default-bar no-margin" id="nav-header">

  <center>
    <h2>NEWS Scraper</h2>
  </center>

</nav>


  <div class="container"style="padding-top:100px">
        <center>
        <div class="alert allSides" style="background:#222D3C;color:#fff;">
          <p>
            <strong><%= error %></strong>
          </p></div>
        </center>
  </div>

</body>
</html>
