<%- include('./Partials/Userheader.ejs') %>

<link rel="stylesheet" href="./stylesheets/news-style.css">

<div class="waitMe_container working" style="background:#000">
<div style="background:rgba(#1d79ff, 0.85)"></div>
</div>


<div class="container side-nav-exist">
  <p class="main-heading">
      Top Stories
  </p>
  <hr />
</div>
<div class="side-nav-exist">
    <div class="col-sm-8 col-md-8 col-xs-12 news-main-container">


    </div>
    <div class="right-nav-util-main-div col-sm-4 col-md-4 col-xs-12 unselectable">

      <div class="col-sm-12 allSidesSoft wether-news" style="background:#fff">
        <div class="col-sm-12">
          <h4 class="weather-location">Loading...</h4>
          <hr style="margin:0"/>
        </div>

        <div class="col-sm-6 col-xs-6" style="padding-top:20px">
          <p class="wether-outside">Loading...</p>
          <p class="temprature-info"></p>
        </div>

        <div class="col-sm-6 col-xs-6" style="padding-top:20px">
          <img src="" class="current-weather-icon" />
        </div>
        &nbsp;
        <div class="col-sm-12" style="padding:0;margin:0;" id="weather-forecast-div">
          <!--forecast here-->
        </div>
      </div>


    </div>
</div>

<script src="./Plugins/js/waitme.js"></script>
<script src="./javascripts/news-Controller.js"></script>
<script src="./javascripts/user-controller.js"></script>
<script>
  initDefaultPage();
  initSideNavUser();
  function initSideNavUser(){
    var cities_list = option_obj.Cities;
    var code;
    $('#cities_feeds').html('');
    for(var i = 0 ; i < cities_list.length ; i++){
      code = '';
      code += '<li><a href="#" data-id="/getNews/'+cities_list[i]+'" class="feed-link">'+cities_list[i]+'</a></li>';
      $('#cities_feeds').append(code);
    }
  }
</script>

</body>
</html>
