<nav class="navbar navbar-expand-sm bg-dark navbar-dark" id="top-nav">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="">NEWS Scraper</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://timesofindia.com" target="_blank">Times Of India</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://github.com/bcrazydreamer/news_scraping" target="_blank"><i class="fab fa-github"></i></a>
    </li>
  </ul>
</nav>


<div class="side-nav-main-div">
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
        <div class="menu-list">
            <ul id="menu-content" class="menu-content collapse out">
              <li style="padding:10px;">
                    <center><img src="/app_pics/bg/logo.png" alt="logo" style="width:60px;"></center>
              </li>
                <li>
                  <center>
                    <a href="#">
                      <strong>News</strong>
                    </a>
                  </center>
                </li>


                <li data-toggle="collapse" data-target="#main_feeds" class="collapsed">
                  <a href="#"><i class="fas fa-newspaper"></i> Main Feeds
                    <i class="fas fa-sort-down"></i></a>
                </li>
                <ul class="sub-menu collapse" id="main_feeds">
                  <li><a href="/getNews/Top_Stories">Top Stories</a></li>
                  <li><a href="/getNews/Most_Recent_Stories">Most Recent Stories</a></li>
                  <li><a href="/getNews/India">India</a></li>
                  <li><a href="/getNews/world">World</a></li>
                </ul>

                <li data-toggle="collapse" data-target="#world" class="collapsed">
                  <a href="#"><i class="fas fa-newspaper"></i> World
                    <i class="fas fa-sort-down"></i></a>
                </li>
                <ul class="sub-menu collapse" id="world">
                  <li><a href="/getNews/US">US</a></li>
                  <li><a href="/getNews/NRI">NRI</a></li>
                  <li><a href="/getNews/south_asia">South Asia</a></li>
                  <li><a href="/getNews/chaina">Chaina</a></li>
                </ul>

                <li data-toggle="collapse" data-target="#cities_feeds" class="collapsed">
                  <a href="#"><i class="fas fa-newspaper"></i> Cities
                    <i class="fas fa-sort-down"></i></a>
                </li>
                <ul class="sub-menu collapse" id="cities_feeds">

                </ul>



            </ul>
     </div>
</div>
